/* Style the search box  */
.search {
  float: right;
  padding: 6px;
  border: none;
  border: brown 3px solid;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 50%;
  border-radius: 10px;
}
